---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="Blog" description="Blog description ??? ">
  <section class="container mx-auto my-20 p-4 md:mt-40">
    <h1 class="mb-4 text-center text-5xl font-semibold md:mb-20 md:text-6xl">
      The Blog
    </h1>
    <div class="space-y-6 md:space-y-12">
      {
        posts.map((post) => (
          <div class="container mx-auto max-w-4xl rounded-xl bg-zinc-200 px-10 py-6 dark:bg-zinc-700">
            <div class="flex items-center justify-between">
              <span class="text-sm dark:text-gray-400">
                {post.data.publishDate}
              </span>
              <div class="hidden space-x-2 md:block">
                {post.data.tags.map((tag) => (
                  <a
                    rel="noopener noreferrer"
                    href="#"
                    class="bg-color-gradient rounded px-2 py-1 font-semibold text-zinc-100"
                  >
                    {tag}
                  </a>
                ))}
              </div>
            </div>
            <div class="mt-3">
              <a
                rel="noopener noreferrer"
                href={`/blog/${post.slug}`}
                class="text-2xl font-semibold hover:underline"
              >
                {post.data.title}
              </a>
              <p class="mt-2">
                Tamquam ita veritas res equidem. Ea in ad expertus paulatim
                poterunt. Imo volo aspi novi tur. Ferre hic neque vulgo hae
                athei spero. Tantumdem naturales excaecant notaverim etc cau
                perfacile occurrere. Loco visa to du huic at in dixi aër.
              </p>
            </div>
            <div class="mt-4 flex items-center justify-between">
              <a
                rel="noopener noreferrer"
                href={`/blog/${post.slug}`}
                class="text-color-gradient font-semibold hover:underline"
              >
                Read more
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
