---
import { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  posts: CollectionEntry<"blog">[];
  heading: string;
};

const { posts, heading } = Astro.props;
---

<BaseLayout title="Blog" description="Blog description ??? ">
  <section class="container mx-auto my-28 p-4 md:mt-40">
    <h1 class="mb-4 text-center text-5xl font-semibold md:mb-8 md:text-6xl">
      {heading}
    </h1>
    {
      posts.map((post) => (
        <div class="container mx-auto my-8 max-w-4xl space-y-4 rounded bg-zinc-200 p-4 dark:bg-zinc-700">
          <div class="flex items-center justify-between">
            <a
              href={`/blog/${post.slug}`}
              class="text-3xl font-semibold hover:underline md:text-4xl"
            >
              {post.data.title}
            </a>
            <div class="hidden space-x-2 md:flex">
              {post.data.tags.map((tag) => (
                <a
                  href={`/blog/tags/${tag}`}
                  class="text-color-gradient rounded px-2 py-1"
                >
                  #{tag}
                </a>
              ))}
            </div>
          </div>
          <p>{post.body.substring(0, 500)}...</p>
          <div class="flex items-center justify-between">
            <a
              href={`/blog/${post.slug}`}
              class="text-color-gradient font-semibold"
            >
              Read more
            </a>
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
